---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Form, Input, Button, Textarea } from 'accessible-astro-components'

const isLocalhost = import.meta.env.IS_LOCAL
const isDev = import.meta.env.DEV

let baseURL: string
if (isLocalhost) {
  baseURL = 'http://localhost:4321'
} else if (isDev) {
  baseURL = `https://dev.${Astro.site?.toString().replace(/^https?:\/\//, '') || 'alexsguardian.net'}`
} else {
  baseURL = `${Astro.site}`
}

if (isLocalhost || isDev) {
  console.log('Running in development mode, baseURL:', baseURL)
}

const FORM_URL = import.meta.env.PUBLIC_CONTACT_FORM_URL
const CF_SITE_KEY = import.meta.env.PUBLIC_CF_TURNSTILE_SITE_KEY
---

<DefaultLayout title="Contact" showCallToAction={false}>
  <PageHeader
    title="Contact"
    subtitle="Ready to get in touch? Fill out the form below and we'll respond as soon as possible!"
    bgType="gradient"
    showBreadcrumbs={false}
  />
  <section class="mx-auto mb-12 max-w-3xl px-4 sm:px-6 lg:px-8">
    <div>
      <div class="space-content p-4 sm:p-6">
        <Form name="contact" action={FORM_URL} method="POST">
          <!-- Formspark stuff -->
          <input type="hidden" name="_redirect" value={`${baseURL}form-success/`} />
          <input type="hidden" name="_error" value={`${baseURL}form-error/`} />
          <input type="hidden" name="_append" value="false" />
          <input type="hidden" name="_email.subject" value="New Website Contact Form Submission" />
          <input type="checkbox" name="_honeypot" value="Are you real?" style="display:none" tabindex="-1" autocomplete="off" />
          <!-- End Formspark stuff -->
          <Input
            id="name"
            type="name"
            name="name"
            label="Name"
            required
            data-validation="We need your name to address you correctly"
            autocomplete="name"
          />

          <Input name="email" type="email" id="email" label="Email address" required autocomplete="email" />

          <Input
            name="phone"
            id="phone"
            label="Phone number (123-456-7890)"
            type="tel"
            data-validation-pattern="^(?:[0-9]{10}|1-[0-9]{3}-[0-9]{3}-[0-9]{4})$"
          />

          <Textarea name="message" id="message" label="Message" required />

          <div class="flex flex-col items-center gap-4 sm:flex-row sm:gap-8">
            <Button id="submit-btn" htmlType="submit" type="primary" size="md" data-dev={isDev}>Send Message</Button>
            <div id="cf-turnstile" class="max-w-full pt-2" data-sitekey={CF_SITE_KEY} aria-hidden="true" tabindex="-1">
            </div>
          </div>
        </Form>
      </div>
    </div>
  </section>
</DefaultLayout>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" defer></script>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    // Initialize state
    let turnstileCompleted = false

    const btn = document.getElementById('submit-btn')

    if (!btn) return

    const container = document.getElementById('submit-btn')

    function updateButtonState() {
      if (container.dataset.dev === 'true') {
        console.log('Form disabled on Dev')
        btn.disabled = true
      } else if (btn) {
        btn.disabled = !turnstileCompleted
      } else {
        console.warn('Form initialization error.')
      }
    }

    // Wait for Turnstile API to be available and render
    function initTurnstile() {
      if (typeof window.turnstile !== 'undefined') {
        const container = document.getElementById('cf-turnstile')
        if (container && !container.hasChildNodes()) {
          // Determine size based on screen width
          const isMobile = window.innerWidth < 768 // 768px is your 'm' breakpoint
          const turnstileSize = isMobile ? 'compact' : 'flexible'

          window.turnstile.render('#cf-turnstile', {
            sitekey: container.dataset.sitekey,
            size: turnstileSize,
            callback: function (token) {
              console.log('Turnstile Challenge Success:', token)
              turnstileCompleted = true
              updateButtonState()
            },
            'error-callback': function () {
              console.error('Turnstile challenge failed')
              turnstileCompleted = false
              updateButtonState()
            },
          })
        }
      } else {
        // Retry after a short delay if Turnstile isn't loaded yet
        setTimeout(initTurnstile, 100)
      }
    }

    // Initialize everything
    updateButtonState()
    initTurnstile()
  })
</script>