---
import { Icon } from 'astro-icon/components';

const FeatureColors = {
  blue: {
    main: '#6388c5',
    dark: '#374762',
  },
  purple: {
    main: '#95509f',
    dark: '#3d2442',
  },
  green: {
    main: '#3dae5b',
    dark: '#21502c',
  },
  yellow: {
    main: '#fac31e',
    dark: '#896d1a',
  },
  red: {
    main: '#eb4637',
    dark: '#7e2b25',
  },
} as const;

type FeatureColorsType = keyof typeof FeatureColors;
interface Props {
  color: FeatureColorsType;
  icon: string;
  title: string;
  desc?: string;
}
const { desc, icon = 'mdi:rocket', title = 'Title', color } = Astro.props;
const selectedColor = FeatureColors[color];
---
<div class="relative h-full p-8 flex flex-col gap-4" style=`border-radius: 1rem;border:4px solid ${selectedColor.main};box-shadow:4px 4px 0 3px var(--background), 12px 12px 0 4px ${selectedColor.dark};`>
  <Icon name={icon} style=`color: ${selectedColor.main};width:4rem;height:auto;`/>
  <div>
    <h3>{title}</h3>
    {desc && <p>{desc}</p>}
  </div>
</div>